.cardbody {
  margin-top: 50px;
}
.totalheading {
  margin-left: 24px;
  font-size: 34px;
  margin-top: -14rem;
  width: 17rem;
  color: red;
}

.row {
  width: 55%;

  -webkit-backdrop-filter: blur(14px);
  backdrop-filter: blur(14px);
  background-color: rgb(145 145 145 / 9%);
  height: 177%;
  margin-top: 22px;
  min-width: 20%;
  margin-left: 22px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.row:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.rowimg {
  width: 125px;
}
.rowimg:hover {
  rotate: -20deg;
}
.datafavdet {
  width: 38%;
  display: flex;
  height: 45%;
  justify-content: center;
  align-items: center;
}
.datafavdet input {
  padding: 12px;
  border: none;

  border-radius: 22px;
}
.icon {
  background-color: rgb(23, 20, 20);
  color: white;
  display: flex;
  align-items: center;
  margin: 16px;

  width: 3vw;
  font-size: 2rem;
  border-radius: 24px;
}
.sidecard {
  width: 36%;
  -webkit-backdrop-filter: blur(14px);
  backdrop-filter: blur(14px);
  background-color: rgb(145 145 145 / 9%);
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-around;
  height: 214px;
  flex-direction: column;
  margin: auto;
  top: 22px;
  left: 30rem;
}
.sidecard h1 {
  font-family: system-ui;
  font-size: 28px;
}

.slidebutton {
  font-size: 22px;
  cursor: pointer;
  padding: 12px;
  height: 50px;
  border: none;
  width: 69%;
  border-radius: 16px;
}
 
