body {
  background: rgb(141, 255, 54);
    background: linear-gradient(180deg, rgb(200 255 54) 18%, rgb(212 255 54) 24%, rgb(210 255 54) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
